.sider.bg-dark.text-white
    .inner-menu
        ul.nav.flex-column
            li.nav-item
                a.nav-link.text-white(href="/admin/dashboard")
                    i.fas.fa-house-user.me-2 
                    |   Trang chính
            li.nav-item
                a.nav-link.text-white(href="/admin/product")
                    i.fas.fa-book.me-2 
                    |   Tài liệu 
            li.nav-item
                a.nav-link.text-white(href="/admin/category")
                    i.fas.fa-list.me-2 
                    |   Danh mục
            li.nav-item
                a.nav-link.text-white(href="/admin/user")
                    i.fas.fa-users.me-2 
                    |   Người dùng
            li.nav-item
                a.nav-link.text-white(href="/admin/comment")
                    i.fas.fa-comments.me-2 
                    |   Bình luận
