.sider
    nav.sidebar.d-flex.flex-column
        h4 Admin panel 
        a(href='/admin/dashboard')
            i(class='fas fa-tachometer-alt')
            | Dashboard
        a(href='/admin/category')
            i(class='fas fa-th-list')
            | Danh mục
        a(href='/admin/product')
            i(class='fas fa-box-open')
            | Sản phẩm
        a(href='/admin/user')
            i(class='fas fa-user')
            | Tài khoản
        a(href='/admin/author')
            i(class='fas fa-user-tie')
            | Tác giả
        a(href='/admin/comment')
            i(class='fas fa-comment')
            | Bình luận
        button(onclick='handleLogout()')  
            i(class='fas fa-sign-out-alt')
            |  Đăng xuất
        
script.
    const handleLogout = () => {
        // Xóa cookie phiên làm việc
        document.cookie = "session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        // Chuyển hướng về trang chính
        window.location.href = "/";
    }